// GENERAL PROJECT STYLES

.container
	width: 1200px
	margin: 0 auto
	padding: 0 15px

ul, li
	padding: 0
	margin: 0
	list-style: none

a
	display: inline-block
	text-decoration: none
	color: $textcolor
